In [12]:
import pymysql
import json
import numpy as np
import pandas as pd

In [32]:
import json
config = {
  "host": "localhost",
  "port": 3306,
  "user": "root",
  "password": "123456789",
  "database": "chinook"
}
with open("D:/python/Online store dataset/Analysis data/notebooks/Python/config.json", "w") as outfile: 
    json.dump(config, outfile)

In [33]:
with open ("D:/python/Online store dataset/Analysis data/notebooks/Python/config.json","r") as config_file:
    db_config = json.load(config_file)

In [36]:
print(db_config)

{'host': 'localhost', 'port': 3306, 'user': 'root', 'password': '123456789', 'database': 'chinook'}

In [37]:
conn = pymysql.connect(
    host=db_config['host'],
    port=db_config['port'],
    user=db_config['user'],
    password=db_config['password'],
    database=db_config['database']
)

print("Connected to MySQL successfully!")

Connected to MySQL successfully!

In [45]:
name_tables_database = "show tables"
name_of_tabels =pd.read_sql(name_tables_database, conn)
name_of_tabels

C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_8356\1478590201.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  name_of_tabels =pd.read_sql(name_tables_database, conn)

   Tables_in_chinook
0              album
1             artist
2           customer
3           employee
4              genre
5            invoice
6        invoiceline
7          mediatype
8           playlist
9      playlisttrack
10             track

In [47]:
name_of_tabels["Tables_in_chinook"]

0             album
1            artist
2          customer
3          employee
4             genre
5           invoice
6       invoiceline
7         mediatype
8          playlist
9     playlisttrack
10            track
Name: Tables_in_chinook, dtype: object

In [61]:
dataframes = {}
for table_name in name_of_tabels["Tables_in_chinook"]:
    query = f"SELECT * FROM {table_name}"
    df = pd.read_sql(query, conn)
    globals()[table_name] = df
    print(f"table ----- {table_name}")

C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_8356\1179718964.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

table ----- album
table ----- artist
table ----- customer
table ----- employee
table ----- genre
table ----- invoice
table ----- invoiceline
table ----- mediatype
table ----- playlist
table ----- playlisttrack
table ----- track

In [59]:
album

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

In [53]:
import pandas as pd

# فرض بر این است که conn قبلاً تعریف شده است
# name_of_tables شامل لیست اسم‌های جدول‌هاست

# دیکشنری برای نگهداری دیتا فریم‌ها
dataframes = {}

# حلقه برای خواندن هر جدول و ذخیره کردن آن به عنوان دیتا فریم
for table_name in name_of_tabels:
    try:
        # ساخت کوئری SELECT برای هر جدول
        query = f"SELECT * FROM {table_name}"
        
        # خواندن داده‌ها از دیتابیس و ذخیره کردن در دیتا فریم
        df = pd.read_sql(query, conn)
        
        # ذخیره دیتا فریم با نام جدول در دیکشنری
        dataframes[table_name] = df
        
        print(f"جدول '{table_name}' با موفقیت خوانده شد.")
    
    except Exception as e:
        print(f"خطا در خواندن جدول '{table_name}': {e}")

# اگر می‌خواهید دیتا فریم‌ها را به صورت جداگانه دسترسی کنید:
# مثال: dataframes['نام_جدول'] را استفاده کنید.

خطا در خواندن جدول 'Tables_in_chinook': Execution failed on sql 'SELECT * FROM Tables_in_chinook': (1146, "Table 'chinook.tables_in_chinook' doesn't exist")

C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_8356\723696959.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)