In [3]:
import pymysql
import json
import numpy as np
import pandas as pd

In [4]:
import json
config = {
  "host": "localhost",
  "port": 3306,
  "user": "root",
  "password": "123456789",
  "database": "online_store_dataset"
}
with open("D:/python/Online store dataset/Analysis data/notebooks/Python/config.json", "w") as outfile: 
    json.dump(config, outfile)

In [5]:
with open ("D:/python/Online store dataset/Analysis data/notebooks/Python/config.json","r") as config_file:
    db_config = json.load(config_file)

In [6]:
conn = pymysql.connect(
    host=db_config['host'],
    port=db_config['port'],
    user=db_config['user'],
    password=db_config['password'],
    database=db_config['database']
)

print("Connected to MySQL successfully!")

Connected to MySQL successfully!

In [7]:
name_tables_database = "show tables"
name_of_tabels =pd.read_sql(name_tables_database, conn)
name_of_tabels

C:\Users\user\Oracel19c\admin\orcl\Temp\ipykernel_1764\1478590201.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  name_of_tabels =pd.read_sql(name_tables_database, conn)

  Tables_in_online_store_dataset
0                      customers
1                      employees
2                        offices
3                   orderdetails
4                         orders
5                       payments
6                   productlines
7                       products